Repository TheAndersMadsen/sosusystem: changes, and which Jenkins stages are due for each by the changed paths.
All: building: backend, backend tests, building: frontend

building: backend:
              steps{
                  sh "echo 'BUILDING [BACKEND]..'"
                  dir("sosusystem-backend"){
                      sh "npm install"
                      sh "npm run build"
                  }
                  sh "docker-compose --env-file config/Test.env build api"
              }
  ...

backend tests:
              steps{
                  sh"echo 'TBD: this should run all tests in the (domain.test) folder'"
              }
              post {
                  success{
                      sh"echo 'TESTS ARE DONE, GENERATING COVERAGE REPORT. coverage report TBD'"
                  }
              }
          

building: frontend:
              steps{
                  sh"echo 'BUILDING [FRONTEND]..'"
                  dir("sosusystem-frontend"){
                      sh"npm install"
                      sh"npm run build"
                  }
                  sh "docker-compose --env-file config/test.env build web"
              }
          

update
  Jenkinsfile
  sosusystem-frontend/Dockerfile
Due: building: frontend

dockerfile
  sosusystem-frontend/Dockerfile
Due: building: frontend

Update Jenkinsfile
  Jenkinsfile
Due: none

Update test.env
  config/test.env
Due: none

drop database on changes
  sosusystem-backend/src/infrastructure/mongodb/mongo-data-services.service.ts
Due: building: backend, backend tests

removed auto-drop-database
  sosusystem-backend/src/infrastructure/mongodb/mongo-data-services.service.ts
Due: building: backend, backend tests

drop database
  sosusystem-backend/src/infrastructure/mongodb/mongo-data-services.service.ts
Due: building: backend, backend tests

docker test
  docker-compose.yml
Due: none

update
  sosusystem-backend/src/core/dtos/subject/function-ability/function-ability.dto.ts
  sosusystem-backend/src/core/dtos/subject/health-condition/health-condition.dto.ts
  sosusystem-backend/src/core/dtos/subject/subject.dto.ts
  sosusystem-backend/src/core/entities/subject/health-condition/health-condition.entity.ts
  sosusystem-backend/src/core/entities/subject/subject.entity.ts
  sosusystem-backend/src/infrastructure/mongodb/mongo-data-services.service.ts
  sosusystem-backend/src/services/use-cases/subjects/subjects.service.ts
Due: building: backend, backend tests

Update docker-compose.yml
  docker-compose.yml
Due: none

Update Dockerfile
  sosusystem-frontend/Dockerfile
Due: building: frontend

Update app.component.html
  sosusystem-frontend/src/app/app.component.html
Due: building: frontend

Update app-routing.module.ts
  sosusystem-frontend/src/app/app-routing.module.ts
Due: building: frontend

lol
  Jenkinsfile
Due: none

Path conditions:
  building: backend: any of: sosusystem-backend/**
  backend tests: any of: sosusystem-backend/**
  building: frontend: any of: sosusystem-frontend/**
