Repository TheAndersMadsen/sosusystem: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Frontend, Build Backend

Jenkinsfile:

pipeline {
    agent any

    tools {nodejs "NodeJS"}

    triggers {
        pollSCM "*/5 * * * *"
    }

    stages{
        stage('Building Stage..') {
            parallel {
                stage('Build Frontend') {
                    when{
                        anyOf{
                            changeset "sosusystem-frontend/**"
                        }
                    }
                    steps {
                        echo "Building Frontend.."
                        dir("sosusystem-frontend"){
                            sh"npm install"
                            sh"npm run build"
                        }
                        sh "docker-compose --env-file config/test-manual.env build frontend"
                    }
                    post{
                        success{
                            echo "Frontend Built Successfully!"
                        }
                    }
                }
                stage('Build Backend') {
                    when{
                        anyOf{
                            changeset "sosusystem-backend/**"
                        }
                    }
                    steps {
                        echo "Building Backend.."
                        dir("sosusystem-backend"){
                            sh"npm install"
                            sh"npm run build"
                        }
                        sh "docker-compose --env-file config/test-manual.env build backend"
                    }
                    post{
                        success{
                            echo "Backend Built Successfully!"
                        }
                    }
                }
            }
        }
        stage("Deliver") {
            steps {
                parallel(
                    web: {
                        withCredentials([usernamePassword(credentialsId: 'dockerhub', usernameVariable: 'USERNAME', passwordVariable: 'PASSWORD')]) {
                            sh 'docker login -u ${USERNAME} -p ${PASSWORD}'
                            sh"docker push andersmadsen0/sosusystem-frontend:${BUILD_NUMBER}"
                        }
                    },
                    api: {
                        withCredentials([usernamePassword(credentialsId: 'dockerhub', usernameVariable: 'USERNAME', passwordVariable: 'PASSWORD')]) {
                            sh 'docker login -u ${USERNAME} -p ${PASSWORD}'
                            
                            sh"docker push andersmadsen0/sosusystem-backend:${BUILD_NUMBER}"
                        }
                    }
                )
            }
        }
        stage("Release to test") {
            steps {
                sh "docker-compose -p staging -f docker-compose.yml -f docker-compose.test.yml up -d"
            }
        }
    }
}

Create Dockerfile
  sosusystem-frontend/Dockerfile
Due: Build Frontend

Update test-manual.env
  config/test-manual.env
Due: none

Update docker-compose.test.yml
  docker-compose.test.yml
Due: none

Update mongo-config.service.ts
  sosusystem-backend/src/infrastructure/mongodb/mongo-config.service.ts
Due: Build Backend

fixed routting - starting on Health condition.
  sosusystem-frontend/src/app/nav-bar/nav-bar.component.html
  sosusystem-frontend/src/app/subjects/dashboard-routing.module.ts
  sosusystem-frontend/src/app/subjects/general-info/general-info.component.html
  sosusystem-frontend/src/app/subjects/nav-modal/nav-modal.component.html
  sosusystem-frontend/src/app/subjects/nav-modal/nav-modal.component.ts
  sosusystem-frontend/src/app/subjects/shared/general.dto.ts
  sosusystem-frontend/src/environments/environment.ts
Due: Build Frontend

Update subjects.controller.ts
  sosusystem-backend/src/controllers/subjects.controller.ts
Due: Build Backend

Update subjects.service.ts
  sosusystem-backend/src/services/use-cases/subjects/subjects.service.ts
Due: Build Backend

function sat op .
  sosusystem-frontend/src/app/subjects/function-ability/function-ability.component.html
  sosusystem-frontend/src/app/subjects/function-ability/function-ability.component.ts
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.html
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.ts
  sosusystem-frontend/src/app/subjects/shared/subject.service.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.html
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.ts
Due: Build Frontend

push me
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.html
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.ts
Due: Build Frontend

vi vil have fri nu
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.html
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.html
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.ts
Due: Build Frontend

wow det virker
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.html
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.ts
Due: Build Frontend

save to database
  sosusystem-frontend/src/app/subjects/function-ability/function-ability.component.html
  sosusystem-frontend/src/app/subjects/function-ability/function-ability.component.ts
  sosusystem-frontend/src/app/subjects/general-info/general-info.component.ts
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.html
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.ts
  sosusystem-frontend/src/app/subjects/shared/functionitem.dto.ts
  sosusystem-frontend/src/app/subjects/shared/healthconditionitem.dto.ts
  sosusystem-frontend/src/app/subjects/shared/subject.service.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-function/subcategory-modal-function.component.html
  sosusystem-frontend/src/app/subjects/subcategory-modal-function/subcategory-modal-function.component.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.html
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.ts
Due: Build Frontend

Login Progress 70PCT
  sosusystem-backend/src/infrastructure/mongodb/mongo-config.service.ts
  sosusystem-frontend/package-lock.json
  sosusystem-frontend/package.json
  sosusystem-frontend/src/app/app-routing.module.ts
  sosusystem-frontend/src/app/app.module.ts
  sosusystem-frontend/src/app/login/guards/auth.guard.ts
  sosusystem-frontend/src/app/login/login.component.ts
  sosusystem-frontend/src/app/login/login.module.ts
  sosusystem-frontend/src/app/login/login.routing.ts
  sosusystem-frontend/src/app/login/pages/login/login.component.html
  sosusystem-frontend/src/app/login/pages/login/login.component.scss
  sosusystem-frontend/src/app/login/pages/login/login.component.spec.ts
  sosusystem-frontend/src/app/login/pages/login/login.component.ts
  sosusystem-frontend/src/app/login/states/actions/login.actions.ts
  sosusystem-frontend/src/app/login/states/stores/login.state.ts
  sosusystem-frontend/src/app/models/User.ts
  sosusystem-frontend/src/app/services/login.service.spec.ts
  sosusystem-frontend/src/app/services/login.service.ts
  sosusystem-frontend/src/app/services/subject.service.spec.ts
  sosusystem-frontend/src/app/services/subject.service.ts
  sosusystem-frontend/src/app/subjects/dashboard/dashboard.component.ts
  sosusystem-frontend/src/app/subjects/function-ability/function-ability.component.ts
  sosusystem-frontend/src/app/subjects/general-info/general-info.component.ts
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-function/subcategory-modal-function.component.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.ts
Due: Build Frontend, Build Backend

Search filtering done
  sosusystem-frontend/package-lock.json
  sosusystem-frontend/package.json
  sosusystem-frontend/src/app/app.module.ts
  sosusystem-frontend/src/app/components/dashboard/dashboard.component.html
  sosusystem-frontend/src/app/components/dashboard/dashboard.component.ts
  sosusystem-frontend/src/app/modules/subjects/subjects.module.ts
Due: Build Frontend

Update
  sosusystem-frontend/src/app/components/footer/footer.component.html
  sosusystem-frontend/src/app/components/login/login.component.html
  sosusystem-frontend/src/app/components/login/login.component.ts
  sosusystem-frontend/src/app/modules/auth/auth.module.ts
  sosusystem-frontend/src/app/modules/auth/auth.routing.ts
Due: Build Frontend

Update
  sosusystem-frontend/src/app/components/login/login.component.html
  sosusystem-frontend/src/app/components/login/login.component.scss
  sosusystem-frontend/src/app/dtos/login.dto.ts
  sosusystem-frontend/src/app/services/login.service.ts
Due: Build Frontend

token in header
  sosusystem-backend/src/controllers/authentication.controller.ts
  sosusystem-backend/src/services/authentication/authentication.service.ts
  sosusystem-frontend/src/app/modules/auth/states/stores/login.state.ts
Due: Build Frontend, Build Backend

det er lidt tosset det her
  sosusystem-backend/src/controllers/authentication.controller.ts
  sosusystem-frontend/src/app/modules/auth/states/stores/login.state.ts
Due: Build Frontend, Build Backend

Update function-ability-item.schema.ts
  sosusystem-backend/src/infrastructure/mongodb/schemas/subject/function-ability/function-ability-item.schema.ts
Due: Build Backend

Update function-ability-item.dto.ts
  sosusystem-backend/src/core/dtos/subject/function-ability/function-ability-item.dto.ts
Due: Build Backend

Update function-ability-item.entity.ts
  sosusystem-backend/src/core/entities/subject/function-ability/function-ability-item.entity.ts
Due: Build Backend

jwt in body
  sosusystem-backend/src/controllers/authentication.controller.ts
Due: Build Backend

update login works with states
  sosusystem-frontend/src/app/app-routing.module.ts
  sosusystem-frontend/src/app/app.component.ts
  sosusystem-frontend/src/app/app.module.ts
  sosusystem-frontend/src/app/components/login/login.component.ts
  sosusystem-frontend/src/app/components/nav-bar/nav-bar.component.html
  sosusystem-frontend/src/app/components/nav-bar/nav-bar.component.ts
  sosusystem-frontend/src/app/modules/auth/auth.guard.ts
  sosusystem-frontend/src/app/modules/auth/auth.module.ts
  sosusystem-frontend/src/app/modules/auth/auth.routing.ts
  sosusystem-frontend/src/app/modules/auth/auth.state.model.ts
  sosusystem-frontend/src/app/modules/auth/guards/auth.guard.ts
  sosusystem-frontend/src/app/modules/auth/state.ts
  sosusystem-frontend/src/app/modules/auth/states/actions/login.actions.ts
  sosusystem-frontend/src/app/modules/auth/states/stores/login.state.ts
  sosusystem-frontend/src/app/modules/subjects/subjects-routing.module.ts
  sosusystem-frontend/src/app/modules/subjects/subjects.module.ts
  sosusystem-frontend/src/app/services/login.service.ts
  sosusystem-frontend/src/app/services/subject.service.ts
  sosusystem-frontend/src/environments/environment.ts
Due: Build Frontend

Update environment.prod.ts
  sosusystem-frontend/src/environments/environment.prod.ts
Due: Build Frontend

Create Jenkinsfile.stresstest
  Jenkinsfile.stresstest
Due: none
