Repository TheAndersMadsen/sosusystem: changes, and which Jenkins stages are due for each by the changed paths.
All: Delivering Backend To Docker Hub, Delivering Frontend To Docker Hub

Jenkinsfile.prod:

pipeline {
    agent any
    parameters {
        string 'TAG_NUMBER'
    }
    stages {
    
        stage('Reset Test Environment') {
            steps{
                sh "docker-compose -f docker-compose.yml --env-file config/test-auto.env down"
                sh "docker system prune -f"
                sh "docker-compose -f docker-compose.yml --env-file config/test-auto.env up -d"
            }
            post{
                success{
                    echo "Test Environemnt Ready!"
                }
            }
        }
        stage("Performance tests") {
            steps {
                echo "Starting Load Test.."
                sh "k6 run -e BASE_URL=http://185.51.76.10:6001/api/subjects tests/perf/load-test.js"
                echo "Starting Load Test.."
                sh "k6 run -e BASE_URL=http://185.51.76.10:6001/api/subjects tests/perf/stress-test.js"
            }
        }
        stage('Delivering Builds To Docker Hub') {
            parallel {

                stage('Delivering Backend To Docker Hub') {
                    when{
                        anyOf{
                            changeset "sosusystem-backend/**"
                        }
                    }
                    steps {
                        echo "Delivering Backend.."
                        dir("sosusystem-backend"){
                            echo 'Building Docker Image..'
                            sh"docker build . -t andersmadsen0/sosusystem-backend"
                            echo 'Logging into Docker Hub..'
                            withCredentials([usernamePassword(credentialsId: 'dockerhub', usernameVariable: 'HUB_USER', passwordVariable: 'HUB_TOKEN')]) {                      
                                sh 'docker login -u $HUB_USER -p $HUB_TOKEN'
                            }
                            sh"docker push andersmadsen0/sosusystem-backend"
                        }
                    }
                    post{
                        success{
                            echo "Backend Delivered To Docker Hub!"
                        }
                    }
                }
                stage('Delivering Frontend To Docker Hub') {
                    when{
                        anyOf{
                            changeset "sosusystem-frontend/**"
                        }
                    }
                    steps {
                        echo "Delivering Frontend.."
                        dir("sosusystem-frontend"){
                            echo 'Building Docker Image..'
                            sh"docker build . -t andersmadsen0/sosusystem-frontend"
                            echo 'Logging into Docker Hub..'
                            withCredentials([usernamePassword(credentialsId: 'dockerhub', usernameVariable: 'HUB_USER', passwordVariable: 'HUB_TOKEN')]) {                      
                                sh 'docker login -u $HUB_USER -p $HUB_TOKEN'
                            }
                            sh"docker push andersmadsen0/sosusystem-frontend"
                        }
                    }
                    post{
                        success{
                            echo "Frontend Delivered To Docker Hub!"
                        }
                    }
                }
            }
        }
        stage("Update production") {
            steps {
                sh "docker-compose --env-file config/prod.env down"
                sh "docker-compose --env-file config/prod.env up -d"
            }
        }
    }
}

Update Jenkinsfile
  Jenkinsfile
Due: none

Update README.md
  sosusystem-backend/README.md
Due: Delivering Backend To Docker Hub

changed from null to empty string
  sosusystem-backend/src/services/use-cases/subjects/subjects.service.ts
Due: Delivering Backend To Docker Hub

Update environment.ts
  sosusystem-frontend/src/environments/environment.ts
Due: Delivering Frontend To Docker Hub

Update environment.prod.ts
  sosusystem-frontend/src/environments/environment.prod.ts
Due: Delivering Frontend To Docker Hub

Create Dockerfile
  sosusystem-frontend/Dockerfile
Due: Delivering Frontend To Docker Hub

Update Jenkinsfile.prod
  Jenkinsfile.prod
Due: none

Update prod.env
  config/prod.env
Due: none

Update test-manual.env
  config/test-manual.env
Due: none

Update test-auto.env
  config/test-auto.env
Due: none

Update docker-compose.prod.yml
  docker-compose.prod.yml
Due: none

Update docker-compose.test.yml
  docker-compose.test.yml
Due: none

Update mongo-config.service.ts
  sosusystem-backend/src/infrastructure/mongodb/mongo-config.service.ts
Due: Delivering Backend To Docker Hub
