Repository TheAndersMadsen/sosusystem: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Frontend, Build Backend

Build Frontend:
                      steps {
                          echo "Building Frontend.."
                          dir("sosusystem-frontend"){
                              sh"npm install"
                              sh"npm run build"
                          }
  ...

Build Backend:
                      steps {
                          echo "Building Backend.."
                          dir("sosusystem-backend"){
                              sh"npm install"
                              sh"npm run build"
                          }
  ...

Update Jenkinsfile.stresstest
  Jenkinsfile.stresstest
Due: none

Update Jenkinsfile.prod
  Jenkinsfile.prod
Due: none

Update stress-test.js
  tests/perf/stress-test.js
Due: none

lmao
  .DS_Store
  tests/perf/load-test.js
  tests/ui/login-test.js
Due: none

add ui test
  tests/ui/login-test.js
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Update login-test.js
  tests/ui/login-test.js
Due: none

id corrrect
  sosusystem-frontend/src/app/components/login/login.component.html
Due: Build Frontend

minor
  Jenkinsfile.stresstest
Due: none

yesyes
  sosusystem-backend/.gitignore
  sosusystem-backend/src/auth/auth.service.ts
  sosusystem-backend/src/core/entities/subject/subject.entity.ts
  sosusystem-backend/src/infrastructure/mongodb/schemas/index.ts
  sosusystem-backend/src/services/use-cases/user/user.service.ts
  sosusystem-frontend/src/app/components/dashboard/dashboard.component.html
  sosusystem-frontend/src/app/components/login/login.component.html
  sosusystem-frontend/src/app/components/login/login.component.ts
  sosusystem-frontend/src/app/components/nav-bar/nav-bar.component.html
  sosusystem-frontend/src/app/modules/subjects/subjects.module.ts
Due: Build Frontend, Build Backend

lol
  sosusystem-backend/src/core/dtos/subject/health-condition/health-condition.dto.ts
  sosusystem-backend/src/core/dtos/subject/subject.dto.ts
  sosusystem-backend/src/core/entities/subject/health-condition/health-condition.entity.ts
Due: Build Backend

Push
  sosusystem-backend/src/app.module.ts
  sosusystem-backend/src/authentication/auth.module.ts
  sosusystem-backend/src/authentication/auth.service.ts
  sosusystem-backend/src/authentication/guards/jwt.guard.ts
  sosusystem-backend/src/authentication/guards/jwt.strategy.ts
  sosusystem-backend/src/controllers/authentication.controller.ts
  sosusystem-backend/src/controllers/subjects.controller.ts
  sosusystem-backend/src/controllers/user.controller.ts
  sosusystem-backend/src/core/dtos/index.ts
  sosusystem-backend/src/core/dtos/user/login.dto.ts
  sosusystem-backend/src/core/dtos/user/register.dto.ts
  sosusystem-backend/src/core/dtos/user/user.dto.ts
  sosusystem-backend/src/core/entities/user/user.entity.ts
  sosusystem-backend/src/infrastructure/mongodb/mongo-config.service.ts
  sosusystem-backend/src/infrastructure/mongodb/mongo-data-services.module.ts
  sosusystem-backend/src/infrastructure/mongodb/schemas/users/user.schema.ts
  sosusystem-backend/src/services/authentication/authentication.guard.ts
  sosusystem-backend/src/services/authentication/authentication.module.ts
  sosusystem-backend/src/services/authentication/authentication.service.ts
  sosusystem-backend/src/services/authentication/jwt/jwt.strategy.ts
  sosusystem-backend/src/services/authentication/local/local-auth.guard.ts
  sosusystem-backend/src/services/authentication/local/local.strategy.ts
  sosusystem-backend/src/services/authentication/requestWithUser.interface.ts
  sosusystem-backend/src/services/authentication/roles/role.enum.ts
  sosusystem-backend/src/services/authentication/roles/roles.decorator.ts
  sosusystem-backend/src/services/authentication/roles/roles.guard.ts
  sosusystem-backend/src/services/authentication/session.serializer.ts
  sosusystem-backend/src/services/authentication/token-payload.interface.ts
  sosusystem-backend/src/services/use-cases/subjects/subjects.module.ts
  sosusystem-backend/src/services/use-cases/users/users.service.ts
  sosusystem-backend/src/user/user-details.interface.ts
  sosusystem-backend/src/user/user.module.ts
Due: Build Backend

Pusha T
  sosusystem-backend/src/authentication/guards/jwt.strategy.ts
  sosusystem-frontend/src/app/app.component.ts
  sosusystem-frontend/src/app/app.module.ts
  sosusystem-frontend/src/app/components/login/login.component.html
  sosusystem-frontend/src/app/components/login/login.component.ts
  sosusystem-frontend/src/app/components/nav-bar/nav-bar.component.html
  sosusystem-frontend/src/app/components/nav-bar/nav-bar.component.ts
  sosusystem-frontend/src/app/dtos/login.dto.ts
  sosusystem-frontend/src/app/modules/auth/auth.actions.ts
  sosusystem-frontend/src/app/modules/auth/auth.guard.ts
  sosusystem-frontend/src/app/modules/auth/auth.state.model.ts
  sosusystem-frontend/src/app/modules/auth/auth.state.ts
  sosusystem-frontend/src/app/modules/auth/helpers/http-interceptor.ts
  sosusystem-frontend/src/app/modules/subjects/health-conditions/health-conditions.component.ts
  sosusystem-frontend/src/app/services/login.service.ts
  sosusystem-frontend/src/environments/environment.ts
Due: Build Frontend, Build Backend

Tis
  sosusystem-frontend/src/app/components/login/login.component.ts
Due: Build Frontend

Path conditions:
  Build Frontend: any of: sosusystem-frontend/**
  Build Backend: any of: sosusystem-backend/**
