Repository TheAndersMadsen/sosusystem: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Frontend, Build Backend

Build Frontend:
                      steps {
                          echo "Building Frontend.."
                          dir("sosusystem-frontend"){
                              sh"npm install"
                              sh"npm run build"
                          }
  ...

Build Backend:
                      steps {
                          echo "Building Backend.."
                          dir("sosusystem-backend"){
                              sh"npm install"
                              sh"npm run build"
                          }
  ...

Update Jenkinsfile
  Jenkinsfile
Due: none

Update environment.ts
  sosusystem-frontend/src/environments/environment.ts
Due: Build Frontend

Update README.md
  sosusystem-backend/README.md
Due: Build Backend

Update docker-compose.prod.yml
  docker-compose.prod.yml
Due: none

Update Jenkinsfile.prod
  Jenkinsfile.prod
Due: none

Update docker-compose.test.yml
  docker-compose.test.yml
Due: none

Update mongo-config.service.ts
  sosusystem-backend/src/infrastructure/mongodb/mongo-config.service.ts
Due: Build Backend

Update environment.prod.ts
  sosusystem-frontend/src/environments/environment.prod.ts
Due: Build Frontend

Update prod.env
  config/prod.env
Due: none

set currentLevel, expectedLevel and relevant to null
  sosusystem-backend/src/services/use-cases/subjects/subjects.service.ts
Due: Build Backend

Update test-auto.env
  config/test-auto.env
Due: none

Path conditions:
  Build Frontend: any of: sosusystem-frontend/**
  Build Backend: any of: sosusystem-backend/**
