Repository TheAndersMadsen/sosusystem: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Frontend, Delivering Backend To Docker Hub, Delivering Frontend To Docker Hub

Path conditions:
  Build Frontend: any of: sosusystem-frontend/**
  Delivering Backend To Docker Hub: any of: sosusystem-backend/**
  Delivering Frontend To Docker Hub: any of: sosusystem-frontend/**

Update docker-compose.test.yml
  docker-compose.test.yml
Due: none

Update docker-compose.prod.yml
  docker-compose.prod.yml
Due: none

Update mongo-config.service.ts
  sosusystem-backend/src/infrastructure/mongodb/mongo-config.service.ts
Due: Delivering Backend To Docker Hub

set currentLevel, expectedLevel and relevant to null
  sosusystem-backend/src/services/use-cases/subjects/subjects.service.ts
Due: Delivering Backend To Docker Hub

fixed routting - starting on Health condition.
  sosusystem-frontend/src/app/nav-bar/nav-bar.component.html
  sosusystem-frontend/src/app/subjects/dashboard-routing.module.ts
  sosusystem-frontend/src/app/subjects/general-info/general-info.component.html
  sosusystem-frontend/src/app/subjects/nav-modal/nav-modal.component.html
  sosusystem-frontend/src/app/subjects/nav-modal/nav-modal.component.ts
  sosusystem-frontend/src/app/subjects/shared/general.dto.ts
  sosusystem-frontend/src/environments/environment.ts
Due: Build Frontend, Delivering Frontend To Docker Hub

health condition + function abilities + remove id
  sosusystem-frontend/src/app/subjects/dashboard-routing.module.ts
  sosusystem-frontend/src/app/subjects/dashboard/dashboard.component.html
  sosusystem-frontend/src/app/subjects/function-ability/function-ability.component.html
  sosusystem-frontend/src/app/subjects/function-ability/function-ability.component.ts
  sosusystem-frontend/src/app/subjects/general-info/general-info.component.ts
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.html
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.ts
  sosusystem-frontend/src/app/subjects/nav-modal/nav-modal.component.html
  sosusystem-frontend/src/app/subjects/nav-modal/nav-modal.component.ts
Due: Build Frontend, Delivering Frontend To Docker Hub

health condiction title + sub title
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.html
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.ts
  sosusystem-frontend/src/app/subjects/shared/subject.service.ts
Due: Build Frontend, Delivering Frontend To Docker Hub

push it to limit
  sosusystem-frontend/src/app/subcategory-modal-health/subcategory-modal.component-health.html
  sosusystem-frontend/src/app/subcategory-modal-health/subcategory-modal.component-health.ts
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.html
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.ts
  sosusystem-frontend/src/app/subjects/nav-modal/nav-modal.component.ts
  sosusystem-frontend/src/app/subjects/shared/subject.service.ts
Due: Build Frontend, Delivering Frontend To Docker Hub

lavet lidt om :)
  sosusystem-frontend/src/app/subcategory-modal-health/subcategory-modal.component-health.ts
  sosusystem-frontend/src/app/subjects/dashboard.module.ts
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.html
  sosusystem-frontend/src/app/subjects/health-conditions/health-conditions.component.ts
  sosusystem-frontend/src/app/subjects/shared/subject.service.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-function/subcategory-modal-function.component.html
  sosusystem-frontend/src/app/subjects/subcategory-modal-function/subcategory-modal-function.component.scss
  sosusystem-frontend/src/app/subjects/subcategory-modal-function/subcategory-modal-function.component.spec.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-function/subcategory-modal-function.component.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.html
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.scss
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.spec.ts
  sosusystem-frontend/src/app/subjects/subcategory-modal-health/subcategory-modal.component-health.ts
Due: Build Frontend, Delivering Frontend To Docker Hub

updated
  sosusystem-backend/src/controllers/subjects.controller.ts
  sosusystem-backend/src/services/use-cases/subjects/subjects.service.ts
Due: Delivering Backend To Docker Hub

Update docker-compose.yml
  docker-compose.yml
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

docker test
  docker-compose.yml
Due: none

Update test.env
  config/test.env
Due: none

lol
  Jenkinsfile
Due: none

Update Dockerfile
  sosusystem-frontend/Dockerfile
Due: Build Frontend, Delivering Frontend To Docker Hub

Update app.component.html
  sosusystem-frontend/src/app/app.component.html
Due: Build Frontend, Delivering Frontend To Docker Hub

Update app-routing.module.ts
  sosusystem-frontend/src/app/app-routing.module.ts
Due: Build Frontend, Delivering Frontend To Docker Hub
